"*":
  "aligner-javascript":
    ":-alignment": "left"
    ":-leftSpace": true
  "atom-clock":
    showClockIcon: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    hideNuclideWarning: true
  "atom-package-deps":
    ignored: [
      "atom-typescript"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "city-lights-ui"
      "firewatch-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    preferredLineLength: 800
    showIndentGuide: true
  "exception-reporting":
    userId: "35af83ae-4998-434b-9d8d-47617c17f014"
  "file-icons":
    onChanges: true
  "file-types":
    "^Dockerfile\\..*$": "source.dockerfile"
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
".reason.source":
  editor:
    preferredLineLength: 110
