"*":
  "atom-ide-ui":
    use: {}
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "ariake-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 800
  "exception-reporting":
    userId: "953a4d77-1f01-4973-9815-550d6f116b8f"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
    searchAllPanes: true
  "seti-ui":
    fileIcons: false
    hideDocumentTitle: true
    hideProjectTab: true
    themeColor: "Purple"
  welcome:
    showOnStartup: false
