'atom-workspace':
    'ctrl-x 0': 'pane:close'
    'ctrl-x 1': 'atomic-emacs:close-other-panes'
    'ctrl-x 2': 'pane:split-down'
    'ctrl-x 3': 'pane:split-right'
    'ctrl-x o': 'window:focus-next-pane'    

'atom-workspace atom-text-editor':
    'ctrl-f': 'atomic-emacs:forward-word'
    'ctrl-b': 'atomic-emacs:backward-word'
    'cmd-shift-A': 'editor:select-to-first-character-of-line'

'ctrl-u': 'atomic-emacs:upcase-word-or-region'
'ctrl-l': 'atomic-emacs:recenter-top-bottom'

'atom-workspace .find-and-replace atom-text-editor':
    'ctrl-r': 'find-and-replace:show-previous'
